.card {
  width: 80%;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.card:last-child {
  border-bottom: none;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.card-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.card-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.tag {
  background-color: var(--blue);
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.1s linear;
}

.tag:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

.card-left a {
  text-decoration: none;
  color: black;
}

.card-left a:hover {
  color: var(--blue);
}

.image-projet {
  width: 80%;
  height: 400px;
  object-fit: contain;
  border-radius: 5px;
  -webkit-mask-image: -webkit-linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 0, 0, 0.3897934173669467) 94%
  );
  mask-image: linear-gradient(
    180deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 52%,
    rgba(0, 0, 0, 1) 44%,
    transparent 95%
  );
}

/* make it responsive */
@media screen and (max-width: 768px) {
  .card-content {
    flex-direction: column;
  }
  .card-left {
    width: 90%;
    align-items: center;
  }
  .card-right {
    width: 90%;
  }
  .image-projet {
    height: 200px;
  }
  .tags-container {
    justify-content: center;
  }
}
