/* make the style for the tabs */
.tabs {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Style the buttons inside the tab */
.tab {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
  font-size: 17px;
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  flex-grow: 1;
  text-align: center;
  gap: 10px;
}

/* Change background color of buttons on hover */

.tab:hover:not(.active) {
  background-color: var(--grey);
}

.tab.active:hover {
  opacity: 0.8;
}

.tablinks:hover {
  color: var(--white);
}

.active {
  border-bottom: 2px solid var(--blue);
  animation: border-bottom-color 0.5s ease-in-out;
}

/* make keyframes to make bottom bar appear in blue and from the right */
@keyframes border-bottom-color {
  0% {
    border-bottom-color: var(--grey);
  }
  100% {
    border-bottom-color: var(--blue);
  }
}
