/* make a responsive footer*/
footer {
  border-top: 1px solid #e5e5e5;
  padding: 25px;
  text-align: center;
  margin-top: 25px;
  -webkit-box-shadow: 0px -10px 5px -4px rgba(0, 0, 0, 0.71);
  box-shadow: 0px -10px 5px -4px rgba(0, 0, 0, 0.71);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.footer-right .item {
  text-decoration: none;
  color: transparent;
  transition: all 0.1s ease-in-out;
}

.footer-right .item:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* make keyframes to animate on hover the item */

/* make the responsive */
@media (max-width: 775px) {
  .footer {
    flex-direction: column;
  }
  .footer-left {
    align-items: center;
  }
}
