/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

* {
  font-family: "Ubuntu", sans-serif;
}

:root {
  scroll-behavior: smooth;
  --black: #2f4f4f;
  --blue: #1b2cc1;
  --green: hsl(141, 53%, 53%);
  --grey: rgba(177, 178, 181, 1);
  --back: #313131;
}

body {
  background: var(--back);
  margin: 0;
  margin: auto;
  color: var(--black);
}

.section {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 15px;
  background: #e8eaf9;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
}

.error-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
